.modal_confirm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 200px;
    background-color: white;
    box-shadow: 0;
    padding: 32px;
    border-radius: 10px;
}
.modal_confirm_title {
    display: flex;
    justify-content: center;
    font-size: larger;
    color: #5db9ef;
    font-weight: bold;
}
.modal_confirm_content{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    color: #5db9ef;
    font-size: large;
    font-weight: normal;
    text-align: center;
}
.modal_confirm_space{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.modal_confirm_button {
margin: 10px !important;
width: 150px !important;
}
@media (min-width: 420px) and (max-width: 739px) {

}
@media  (max-width: 419px) {
    .modal_confirm {
        width: 300px;
        height: 200px;
    }
}