.change-password{
}
.cp-container{
  margin: 50px auto;
  width: 70%;
  display: flex;
  padding: 20px;
  box-shadow: 0 8px 8px 0 rgba(103, 151, 255, .11), 0 12px 18px 0 rgba(103, 151, 255, .11);
  background-color: #fff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cp-form{
  width: 80%;
  padding: 20px;
}

.cp-title{
  font-size: xx-large;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}