.thumbnailTable {
  text-decoration: none;
}

.modal_edit_qr{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  min-height: 40%;
  max-height: 90%;
  overflow-y: auto;
  background-color: white;
  box-shadow: 24;
  padding: 20px;
  border-radius: 10px;
}

.aln-qr-container{
  background: white;
  padding: 16px;
  display: flex;
  justify-content: center;
}

.aln-title{
  text-align: center;
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}
