.header {
  background-image: linear-gradient(to right, #2490cf8f, rgba(255, 0, 0, 0));
  position: relative;
}

.logo_header {
  width: 100%;
  height: 100%;
}

.flag {
  display: flex;
  justify-content: flex-end;
}

.icon {
  height: 40px;
  margin: 0 5px;
}
.input {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 80%;
  justify-content: space-between;
  padding: 3px;
  padding-left: 10px;
  border-radius: 5px;
  /* position: absolute;
  right: 5px; */
}

.inputSearch {
  font-size: 16px;
  border: none;
  outline: none;
  width: 100%;
  flex: 1;
}
.col {
  position: relative;
}

.login_signup_space {
  display: flex;
  justify-content: flex-end;
}
.btn_login_signup {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin: 10px 5px;
  min-width: 150px;
  justify-content: center;
  user-select: none;
  text-decoration: none;
}

.btn_login_signup:hover {
  background-color: #5db9efc2;
  cursor: pointer;
}

.btn_login_signup--icon {
  margin-right: 5px;
}
.search {
  display: flex;
  justify-content: flex-end;
}

.menulist {
  background-color: #5db9ef;
}
.navigation {
  display: flex;
  height: 40px;
  justify-content: space-evenly;
}
.navigation_item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 10px 0 15px;
  height: 100%;
  text-decoration: none;
}

.nav_item_link:hover .navigation_item {
  background-color: #fff;
  color: var(--main-color);
  cursor: pointer;
}

.nav_item_link {
  position: relative;
}

.nav_hover_news {
  position: absolute;
  background-color: #fff;
  z-index: 10;
  left: 0;
  width: 325px;
  /* height: 150px; */
  padding: 10px;
}

.nav_hover_news {
  display: none;
}
.nav_hover_news_label {
  color: red;
  font-weight: 600;
  margin: 10px 0;
}

.nav_hover_news_item-name {
  font-size: 14px;
  margin: 10px 5px;
}

.nav_hover_news_item-name:hover {
  font-weight: 600;
}
.hover_news:hover .nav_hover_news {
  display: block;
  box-shadow: 1px 1px 2px #ccc;
}

.icon_drawer {
  position: absolute;
  left: 0;
  background-color: var(--main-color);
  z-index: 999;
  width: 38px;
  height: 34px;
  margin-top: 10px;
  display: none;
}

.icon_drawer_link {
  color: white;
  position: absolute;
}

.spaceUserLogin {
  display: flex;
  justify-content: flex-end;
  justify-items: center;
}
.userLogin {
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 4px;
  border-radius: 10px;
  margin: 2% 0;
}
.nameUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: var(--main-color);
}

.iconDrop {
  color: var(--main-color);
}
.user_hover_overview {
  padding: 5px;
  z-index: 99;
  width: 250px;
  background-color: white;
  position: absolute;
  right: 5px;
  top: 89%;
  border-radius: 5px;
  display: none;
  box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  transform-origin: 90% top;
  animation: growUserHover ease-in 0.2s;
  will-change: opacity, transform;
}

@keyframes growUserHover {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.user_hove_dropdown--item {
  display: flex;
  justify-content: flex-start;
  padding-top: 3px;
  padding-left: 10px;
}
.user_hove_dropdown--item--label {
  text-decoration: none;
  color: var(--text-color);
  padding-top: 5px;
  padding-bottom: 8px;
}

.user_hove_dropdown--item--label:hover {
  color: var(--main-color);
}
.user_hove_dropdown--item--underline {
  border-top: 1px #ccc solid;
}

.nav_hover_introduce_overview {
  z-index: 99;
  width: 277px;
  height: 158px;
  background-color: white;
  position: absolute;
  left: 0;
  padding: 15px;
  display: none;
  box-shadow: 1px 1px 2px #ccc;
}

.nav_hove_dropdown--item--underline {
  border-top: 1px #ccc solid;
  margin: 8px 0;
}
.nav_item_link--hover--introduce:hover .nav_hover_introduce_overview {
  display: block;
}
.userLogin:hover .user_hover_overview {
  display: block;
}
.userLogin:hover {
  background-color: transparent;
}
.nav_hove_dropdown--item--label {
  text-decoration: none;
  color: var(--text-color);
}

.nav_hove_dropdown--item--label:hover {
  color: var(--main-color);
}

.user_hover_overview::before {
  content: '';
  border: 20px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  right: 5px;
  top: -28px;
}
.user_hover_overview::after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  top: -25px;
  width: 100%;
  height: 30px;
}

.error_search {
  display: flex;
  justify-content: flex-end;
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

/* Tablet and PC lower */
@media (min-width: 740px) and (max-width: 1023px) {
  .flag {
    display: none;
  }
  .search {
    margin-top: 10px;
  }
  .menulist {
    display: none;
  }
  .input {
    width: 100%;
  }
  .icon_drawer {
    display: block;
  }
}

/* Moblie */
@media (max-width: 739px) {
  .flag {
    display: none;
  }
  .menulist {
    display: none;
  }

  .input {
    width: 100%;
  }
  .icon_drawer {
    display: block;
    bottom: 12px;
  }
}
@media (max-width: 1239px) {
  .user_hover_overview {
    top: 95%;
  }
}
