.request_news_title {
  font-size: 26px;
  margin: 20px 10px;
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.modal_export_excel {
    position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      min-height: 50%;
      max-height: 90%;
      overflow-y: auto;
      background-color: white;
      box-shadow: 24;
      padding: 20px;
      border-radius: 10px;
}