.activity_content {
  padding: 20px 10px;
  display: flex;
  box-shadow: 2px 2px 10px 0px #c0c0c0;
  border-radius: 15px;
  margin-bottom: 20px;
  transition: all ease-in 0.2s;
  min-height: 200px;
}
.center {
  display: flex;
  margin: auto;
}

.activity_content:hover {
  transform: translate(0px, -5px);
}
.activity_content--pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.activity_content--picture {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.activity_content--text {
  flex: 1;
}
.activity_content--headertext {
  color: var(--text-color);
  font-weight: 600;
  padding-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.activity_content--header {
  /* display: grid;
  flex-direction: row; */
  /* justify-content: space-between;
  align-items: center; */
}

.activity_content--text--underline {
  border-top: 0.5px solid var(--text-color);
  margin-top: 5px;
}
.activity_content--text--des {
  color: var(--text-color);
  margin-top: 10px;
}
.activityitem_btn-deteil {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  width: 90%;
  height: 30px;
  cursor: pointer;
  margin: 5px;
  font-size: 13px;
}
.activityitem_btn-register {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  justify-content: center;
  user-select: none;
  text-decoration: none;
  width: 90%;
  height: 30px;
  cursor: pointer;
  margin: 5px;
  font-size: 12px;
}

.activity_content_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
@media (min-width: 740px) and (max-width: 1023px) {
  .activityitem_btn-register {
    font-size: 13px;
  }
  .activityitem_btn-deteil {
    font-size: 13px;
  }
}

@media (max-width: 740px) {
  .activity_content {
    max-height: none;
  }
  .activity_content--text {
    margin-top: 10px;
  }
}
