.btn-toggle {
  top: 12px !important;
}
.ah{
  display: flex !important;
  flex-direction: column;
  height: 100%;
}
.admin_home{
  height: 100%;
}

.ah_item{
  margin: 10px;
  height: 120px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 5%),
    0 3px 1px -2px rgb(0 0 0 / 8%),
    0 1px 5px 0 rgb(0 0 0 / 8%);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.ah-total{
  margin-top: 5px;
  font-size: small;
}

.ah_text{
  text-transform: uppercase;
  font-weight: 600;
  font-size: small;
}

.ah_num{
  flex: 1;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ah-left>span:nth-of-type(1){
  font-size: 20px;
}

.ah-left>span:nth-of-type(2) {
  font-size: 13px;
}

.ah-chart{
  flex: 1;
}

.ah-pick{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  transform: scale(0.8);
}